/*作物档案 */
/* 作物档案模块 */
.dashboardCrops-file {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  font-size: 12px;
}
.dashboardCrops-file p {
  margin: 0;
}
.dashboardCrops-file .prod-content.padding-5 {
  padding: 10px !important;
}
.dashboardCrops-file .prod-content.no-padding {
  padding: 0 !important;
}
.dashboard-cropfile .crop-title .iconfont {
  color: #ffa600;
  margin-right: 2px;
  font-size: 15px;
  margin-top: 2px;
}
.dashboard-cropfile .crop-title ._crops-file-name {
  line-height: 15px;
  font-size: 14px;
  color: #443d3d;
  font-weight: bold;
}
/* 作物百科介绍 start */
.crop-introduce-container .introduce-con {
  line-height: 23px;
  font-size: 12px;
}
.crop-introduce-container .introduce-con .main-crop {
  text-indent: 2em;
  margin: 8px 0 5px 0;
  font-size: 12px;
}
.crop-introduce-container .introduce-con p {
  font-size: 12px;
}
.crop-introduce-container .introduce-con p span {
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 65px;
  font-size: 12px;
}
.crop-introduce-container .introduce-con p label {
  display: inline;
}
.crop-introduce-container .slideCenter .slideListImg {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 10px 0;
}
.crop-introduce-container .slideCenter .slideListImg li {
  list-style: none;
  width: 25%;
  margin-left: 5px;
}
.crop-introduce-container .slideCenter .slideListImg li:nth-child(1) {
  margin-left: 0;
}
.crop-introduce-container .slideCenter .slideListImg img {
  width: 100%;
  height: 80px;
  /* margin-left: 5px; */
}
.crop-introduce-container .enterprise-items-list p span {
  text-align: left;
  font-weight: 500;
}
.crop-introduce-container .enterprise-items-list .enterprise-list-name {
  font-size: 15px;
  /* color: #a7a7a7; */
  font-weight: 600;
  margin: 3px 0;
}
/* 当前负责人信息 */
.crop-introduce-container .response-crop {
  position: relative;
  overflow: hidden;
  /* display: grid; */
  /* flex-direction: column; */
  width: 100%;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}
.crop-introduce-container .response-crop li {
  margin-right: 1.5%;
  background: #babbbd;
  /* justify-content: space-between; */
  color: #fff;
  float: left;
  max-width: 49%;
  margin-bottom: 5px;
}
.crop-introduce-container .response-crop li:nth-child(2n) {
  margin-right: 0;
}
.crop-introduce-container .response-crop li img {
  width: 100%;
  height: 80px;
}
.crop-introduce-container .response-crop li .response-list {
  line-height: 18px;
  padding-bottom: 5px;
}
.crop-introduce-container .response-crop li .response-list span {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
}
.crop-introduce-container .response-crop li .response-icon i {
  display: inline-block;
  /* margin-right: 2px; */
}
.crop-introduce-container .person-list .person-item {
  height: 70px;
}
.crop-introduce-container .person-list .person-item i {
  padding-top: 3px;
}
.crop-introduce-container .person-list .person-item img {
  width: 64px;
  height: 100%;
  border-radius: 0%;
}
/* 土地平整事务 */
.crop-introduce-container .smooththings-items .font-12 {
  font-size: 12px;
}
.crop-introduce-container .font-12 {
  font-size: 12px;
}
.crop-introduce-container .crop-flat-land {
  position: relative;
  overflow: hidden;
  font-size: 12px;
}
.crop-introduce-container .crop-flat-land li {
  padding: 5px 0;
}
.crop-introduce-container .ng-hide {
  height: 0;
}
.crop-introduce-container .smooththings-list-img img {
  width: 23.5%;
  height: 80px;
  margin-right: 2%;
}
.crop-introduce-container .smooththings-list-img img:nth-child(4n) {
  margin-right: 0;
}
.crop-introduce-container .bottom-dashed-1px {
  border-bottom: 1px solid #e7dfdf;
  line-height: 24px;
}
.crop-introduce-container .crop-flat-land .card-list-last {
  border-bottom: 1px dashed #a39696;
}
.crop-introduce-container .smooththings-items {
  font-size: 12px;
}
.crop-introduce-container .td-over-set {
  white-space: nowrap;
  width: 119px;
  display: inline-block;
  /* -webkit-text-emphasis: aquamarine; */
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  /* width: 8%; */
}
.crop-introduce-container .td-over-label {
  white-space: nowrap;
  /* width: 19px; */
  display: inline-block;
  /* -webkit-text-emphasis: aquamarine; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* border: none; */
}
.crop-introduce-container .prod-list li {
  overflow: hidden;
}
.crop-introduce-container .prod-list-item span {
  float: left;
  margin-right: 3%;
  text-align: left;
}
.crop-introduce-container .prod-list-item span:last-child {
  margin-right: 0;
}
.crop-introduce-container .prod-list-item h5 {
  float: left;
  margin-right: 3%;
  text-align: left;
  /* text-align: center; */
  /* height: 35px; */
}
.crop-introduce-container .prod-list-item h5:last-child {
  margin-right: 0;
}
/* 作物空间位置 */
.crop-introduce-container .space-items-list {
  position: relative;
  line-height: 21px;
}
.crop-introduce-container .space-list-bottom {
  border-bottom: 1px dashed #babbbd;
}
.crop-introduce-container .space-flex {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}
.crop-introduce-container .space-flex .space-line-land {
  width: 60px;
  height: 80px;
  background-color: transparent;
  border: 1px solid #ffa600;
  margin-right: 30px;
}
.crop-introduce-container .space-flex .space-line-decition {
  width: 20px;
  border: 1px solid #6ad710;
  margin-right: 50px;
}
.crop-introduce-container .space-items-box {
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
}
.crop-introduce-container .space-items-box li {
  width: 49.2%;
  float: left;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background: #adaeb1;
  margin-right: 1.5%;
  margin-bottom: 8px;
  padding: 8px 0;
  color: #fff;
}
.crop-introduce-container .space-items-box li:nth-child(2n) {
  margin-right: 0;
}
.crop-introduce-container .space-items-box i {
  display: inline-block;
  font-size: 30px;
  color: #fff;
}
.crop-introduce-container .space-items-box .space-box-con {
  display: flex;
  flex-direction: column;
}
.crop-introduce-container .space-items-box .space-box-con span {
  display: block;
  font-size: 12px;
  /* display: flex; */
  /* text-align: left; */
}
.crop-introduce-container .space-items-box .space-items-icon {
  width: 50px;
  text-align: center;
}
.crop-introduce-container .header-text {
  letter-spacing: 1px;
  font-size: 12px;
}
/* 商品赋码 */
/* .commodity-list  */
.commodity-list span {
  border-left: 2px solid #FFA600;
  display: inline-block;
  margin: 8px 0;
  padding-left: 8px;
  line-height: 19px;
}
.commodity-list img {
  width: 100%;
  /* width: 49.5%; */
  height: 80px;
}
.commodity-list img:nth-child(2n) {
  margin-left: 1%;
}
.commodity-list-img {
  overflow: hidden;
}
.commodity-list .put-code-with span {
  border: none;
}
.qcode-style img {
  display: inline-block;
  text-align: center;
  margin-right: 35px;
  margin-top: -3px;
}
.qrcode-make {
  display: flex;
}
/* .qcode-style:nth-child(2n) img{
    margin-right: 0;
} */
.commodity-list-img li {
  width: 49.2%;
  /* height: 80px;; */
  margin-right: 1.3%;
  background: #cccccc;
  margin-top: 1.3%;
}
.commodity-list-img .qccode-container {
  line-height: 17px;
  padding: 5px;
  font-size: 10px;
  color: #fff;
  position: relative;
}
.commodity-list-img .qccode-container .qcode-style {
  position: absolute;
  top: 16px;
  right: -31px;
}
.commodity-list-img .qccode-container .qcode-style img {
  width: 55px;
  height: 55px;
}
.commodity-list-img li:nth-child(2n) {
  margin-right: 0;
}
/* 检测 */
.laboratory-container-dashboard table tr td {
  border: none;
}
.laboratory-container-dashboard .table-responsive {
  border: none;
}
/* 流通过程 */
.circulation-header {
  overflow: hidden;
  /* font-size: 13px; */
}
.circulation-con-flex {
  display: flex;
  justify-content: space-between;
}
.circulation-header-right {
  float: right;
}
.circulation-lists-con {
  border-bottom: 1px #cccccc dashed;
  padding: 4px 0;
}
.circulation-con-r {
  float: right;
}
/* 消费者点评 */
.evaluate-list {
  overflow: hidden;
  border-bottom: 1px #cccccc dashed;
  padding: 10px 0;
}
.card-list-img {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 3px;
}
.evaluate-bugsize span {
  float: right;
  /* font-size: 13px; */
}
.evaluate-head-code {
  /* font-size: 13px; */
}
.evaluate-list-crop {
  text-indent: 2em;
  /* font-size: 13px; */
  line-height: 20px;
}
.evaluate-list-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
}
.evaluate-list-image {
  width: 23.8%;
  margin-right: 1.5%;
}
.evaluate-list-image:nth-child(4n) {
  margin-right: 0;
}
.evaluate-list-img img {
  /* float: left; */
  width: 100%;
  height: 80px;
  display: block;
  margin-top: 5px;
}
.toast-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast {
  display: flex;
  min-height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  /* transition: all .3s; */
  padding: 5px 15px;
  color: #fff;
  min-width: 86px;
  max-width: 240px;
  align-items: center;
}
.toast .content {
  padding-top: 4px;
  line-height: 20px;
  font-size: 14px;
}
/* 点击确定消失的警示框 */
.mui-popup.mui-popup-in {
  display: block;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  opacity: 1;
}
.mui-popup {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  display: none;
  overflow: hidden;
  width: 270px;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
  transform: translate3d(-50%, -50%, 0) scale(1.185);
  text-align: center;
  opacity: 0;
  color: #000;
  /* border-radius: 13px; */
}
.mui-popup-inner {
  position: relative;
  padding: 25px;
  border-radius: 5px 5px 0 0;
  background: rgba(255, 255, 255, 0.95);
}
.mui-popup-text {
  color: #868e9f;
}
.mui-popup-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.mui-popup-title + .mui-popup-text {
  font-family: inherit;
  font-size: 14px;
  margin: 10px 0 0;
}
.mui-popup-buttons {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: cente;
  border-top: 2px solid #eeeeee;
}
.mui-popup-button:first-child:last-child {
  border-radius: 0 0 13px 13px;
}
.mui-popup-button.mui-popup-button-bold {
  /* font-weight: 600; */
}
.mui-popup-button:last-child {
  border-radius: 0 0 5px;
}
.mui-popup-button:first-child {
  border-radius: 0 0 0 5px;
}
.mui-popup-button {
  font-size: 16px;
  line-height: 30px;
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #5bb7ed;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-flex: 1;
}
.mui-popup-backdrop.mui-active {
  opacity: 1;
}
.mui-popup-backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
}
/* .loading_ {  
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;  
    justify-content: center;  
    width: 100%;
    align-items: center;  
 
}  

.loading_>div {  
    width: 15px;  
    height: 15px;  
    border-radius: 50%;  
    background: #8385aa;  
    opacity: .5;  
    margin: 8px;  
    text-align: center;  
    line-height: 33px;  
    font-size: 1.5rem;  
    animation: loading 0.8s infinite alternate;  
}  

.loading_>div:nth-child(2) {  
    animation-delay: 0.4s  
}  
.loading_ p{
    display: block;
    text-align: center;
    margin-top: 38px;
    position: absolute;
}
.loading_>div:nth-child(3) {  
    animation-delay: 0.6s;  
}   */
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
/* loading 动画 */
.item-loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.load-con {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.la-ball-clip-rotate-pulse,
.la-ball-clip-rotate-pulse > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-ball-clip-rotate-pulse {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-clip-rotate-pulse.la-dark {
  color: #333;
}
.la-ball-clip-rotate-pulse > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-clip-rotate-pulse {
  width: 32px;
  height: 32px;
}
.la-ball-clip-rotate-pulse > div {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
}
.la-ball-clip-rotate-pulse > div:first-child {
  position: absolute;
  width: 32px;
  height: 32px;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-left-color: transparent;
  -webkit-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -moz-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -o-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
.la-ball-clip-rotate-pulse > div:last-child {
  width: 16px;
  height: 16px;
  -webkit-animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -moz-animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -o-animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
.la-ball-clip-rotate-pulse.la-sm {
  width: 16px;
  height: 16px;
}
.la-ball-clip-rotate-pulse.la-sm > div:first-child {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.la-ball-clip-rotate-pulse.la-sm > div:last-child {
  width: 8px;
  height: 8px;
}
.la-ball-clip-rotate-pulse.la-2x {
  width: 54px;
  height: 54px;
}
.la-ball-clip-rotate-pulse.la-2x > div:first-child {
  width: 40px;
  height: 40px;
  border-width: 4px;
}
.la-ball-clip-rotate-pulse.la-2x > div:last-child {
  width: 18px;
  height: 18px;
}
/* loading加载动画  start */
@-webkit-keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-moz-keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-o-keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes ball-clip-rotate-pulse-scale {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    opacity: .3;
    -webkit-transform: translate(-50%, -50%) scale(0.15);
    transform: translate(-50%, -50%) scale(0.15);
  }
}
@-webkit-keyframes ball-clip {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-moz-keyframes ball-clip {
  0% {
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-o-keyframes ball-clip {
  0% {
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*  底部弹出框 start */
@-webkit-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-ms-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes flipBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mui-toast-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  -webkit-animation: flipBottom 1 0.8s ease-out;
  -moz-animation: flipBottom 1 0.8s ease-out;
  -ms-animation: flipBottom 1 0.8s ease-out;
  -o-animation: flipBottom 1 0.8s ease-out;
  animation: flipBottom 1 0.8s ease-out;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000;
}
.mui-toast-container.mui-active {
  opacity: 0.6;
}
.mui-toast-message {
  padding: 15px 25px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.loading-contain {
  text-align: center;
  font-size: 16px;
  width: 100px;
  padding-top: 20px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.fa.spinner_cirl {
  font-size: 30px;
  -webkit-animation: change 2s linear infinite;
  animation: change 2s linear infinite;
}
.loading-contain p {
  font-size: 16px;
  margin-top: 12px;
}
@-webkit-keyframes change {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes change {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes change {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes change {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.dots-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 100%;
  -moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  -moz-animation: dots-loader 5s infinite ease-in-out;
  -webkit-animation: dots-loader 5s infinite ease-in-out;
  animation: dots-loader 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.mui-popup-inner {
  background: rgba(0, 0, 0, 0.1);
}
.mui-popup-button {
  background: rgba(0, 0, 0, 0.1);
}
.smooththings-bottom {
  /* border-bottom: 1px #f8f8f8f8 dashed; */
}
.smooththingsData-margin .mainpage-wu {
  margin-top: 8px;
  box-shadow: none;
}
.dashboardCrops-file .mask-component-evaluate {
  position: fixed;
  top: 50%;
  left: 40px;
  right: 40px;
  background-color: #fff;
  z-index: 2147000001;
  margin-top: -170px;
  border-radius: 5px;
  font-weight: 700;
  color: #535e66;
}
.dashboardCrops-file .mask-component-evaluate .mask-title {
  height: 22px;
  line-height: 29px;
  padding: 14px 30px;
  border-bottom: solid 1px #eef0f1;
}
.dashboardCrops-file .mask-component-evaluate .mask-title span {
  font-size: 14px;
  display: block;
  float: left;
  height: 20px;
  position: relative;
  background: #fff;
  color: #ffa600;
}
.dashboardCrops-file .mask-component-evaluate .mask-title a {
  display: block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 22px;
  right: 30px;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf {
  margin: 5px 0;
  margin-bottom: 12px;
  overflow: hidden;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf .starRating-item {
  display: inherit;
  padding: 0px;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf .starRating-item-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf strong {
  display: block;
  text-align: center;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: bold;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf p {
  height: 84px;
  margin-top: 16px;
  line-height: 26px;
  overflow-x: hidden;
  overflow-y: auto;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf i {
  margin-left: 10px;
  font-size: 22px;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf .mask-component-con {
  padding: 0 15px;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf .mask-component-con span {
  display: block;
  font-size: 12px;
  color: #ffa600;
  /* padding-left: 13px; */
  padding: 9px 3px 13px 0;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf .mask-component-con textarea {
  width: 100%;
  line-height: 17px;
}
.dashboardCrops-file .mask-component-evaluate .mask-conf .mask-component-con textarea:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 8px #719ECE;
}
.dashboardCrops-file .mask-component-evaluate .mask-btnArea {
  border-top: solid 1px #eef0f1;
}
.dashboardCrops-file .mask-component-evaluate .mask-btnArea .btnGroup {
  float: right;
}
.dashboardCrops-file .mask-component-evaluate .mask-btnArea .btnGroup .sgBtn {
  display: block;
  cursor: pointer;
  float: left;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin: 8px 14px;
}
.dashboardCrops-file .mask-component-evaluate .mask-btnArea .btnGroup .mask-ok {
  background-color: #0095d9;
  color: #fff;
}
.dashboardCrops-file .mask-component-evaluate .mask-btnArea .btnGroup .mask-cancel {
  background-color: #546a79;
  margin: 8px 0;
}
@media screen and (max-width: 375px) {
  .dashboardCrops-file .mask-component-evaluate {
    left: 25px;
    right: 25px;
  }
}
@media screen and (max-width: 320px) {
  .dashboardCrops-file .mask-component-evaluate {
    left: 10px;
    right: 10px;
  }
}
